/JavaApplication33/nbproject/private/
/JavaApplication33/build/
/StringReverse/nbproject/private/
/StringReverse/build/
/PalindromeTOrF/nbproject/private/
/PalindromeTOrF/build/
/PalindromeTrueOrFalse/nbproject/private/
/PalindromeTrueOrFalse/build/
/ReverseInteger/nbproject/private/
/ReverseInteger/build/
/ReverseInteger/dist/
/StringIntAdd/nbproject/private/
/StringIntAdd/build/
/StringToInt/nbproject/private/
/StringToInt/build/
/ReverseSignedInteger/nbproject/private/
/ReverseSignedInteger/build/
/PrimeOrNot/nbproject/private/
/PrimeOrNot/build/
/PrimeOrNot/dist/
/ArrayMultiplier/nbproject/private/
/ArrayMultiplier/build/